# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=e9a482b8162a5dc25f0a380bab9b50e7
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://default:default@mariadb:3306/default?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> docker ###
# Image version
NGINX_VERSION=1.25-alpine
PHP_VERSION=8.2-fpm-alpine
MARIADB_VERSION=10.11
# Container name
NGINX_CONTAINER_NAME=library-nginx
PHP_CONTAINER_NAME=library-php
MARIADB_CONTAINER_NAME=library-mariadb
# Ports
NGINX_PORT=8000
MARIADB_PORT=3306
# Mariadb config
MARIADB_ROOT_PASSWORD=123456
MARIADB_DATABASE=default
MARIADB_USER=default
MARIADB_PASSWORD=default
###< docker ###
